
body {
    display: flex;
}
header {
    /* display: flex; */
    position: sticky;
    background-color: rgb(248, 233, 144);
    text-align: center;

}

h1 {
    color: blue
}

#potions {
    display: flex;
    width: 40%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}

/* .dropdown {
    position: relative;
    display: block;

} */